.search-issues-modal  {
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
        background: #0d0c22;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    .search-issues-wrapper {
        position: fixed;
        top: 0;
        background-color: #f5f6f8;
        left: 0;
        z-index: 10;
        box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
        height: 100vh;
        padding: 20px 30px;
        transform: translateX(-150%);
        min-width: 0;
    }
    .search-issues-wrapper {
        .close-modal {
            position: absolute;
            right: -25px;
            z-index: 11;
            background-color: #fff;
            box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
            padding: 5px;
            border-radius: 5px;
            svg {
                font-size: 25px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .search-modal {
            .search-input {
                position: relative;
                .search-icon {
                    position: absolute;
                    bottom: 8px;
                    svg {
                        font-size: 20px;
                    }
                }
                input {
                    border: none;
                    border-bottom: 2px solid #0d0c22;
                    padding: 10px;
                    padding-left: 30px;
                    width: 90%;
                    font-size: 15px;
                    background-color: #f5f6f8;
                    &:focus {
                        outline: none;
                        border-bottom: 2px solid #2a60e4;
                    }
                }
            }
            .issues-title {
                font-size: 14px;
                text-transform: uppercase;
                color: #484545;
                span {
                    display: flex;
                    align-items: center;
                    svg {
                        margin-right: 5px;
                        font-size: 18px;
                    }
                }
                span.active-search {
                    svg {
                        color: #2a60e4;
                    }
                }
            }
            .search-issues {
                margin-top: 25px;
                max-height: 70vh;
                overflow-y: scroll;
                .single-issue {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 15px;
                    h4 {
                        color: #0d0c22;
                        font-weight: 400;
                        margin: 5px 0;
                    }
                    .comments {
                        position: relative;
                        svg {
                            font-size: 22px;
                            color: #2a60e4;
                        }
                        .comments-count {
                            position: absolute;
                            top: 0;
                            font-size: 12px;
                            font-weight: bold;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

.search-issues-modal.open-issues-modal {
    .search-issues-wrapper {
        transform: translateX(0);
        min-width: 30%;
        transition: all 1s ease-in-out;
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(9, 30, 66, 0.54);
        z-index: 10;
    }
}