.single-issue-wrapper {
    display: flex;
    margin-top: 35px;
    .main-col {
        flex: 3;
        .input-wrapper {
            margin-bottom: 25px;
            position: relative;
            .icon {
                position: absolute;
                right: 10px;
                top: 5px;
                font-size: 25px;
                opacity: 0;
                cursor: pointer;
                color: #00bf00;
                transition: all .4s ease-in-out;
            }
            .icon.description {
                top: 25px;
            }
        }
        input, textarea {
            font-weight: 400;
            font-size: 24px;
            margin: 0;
            resize: none;
            width: 100%!important;
            height: 37px!important;
            background-color: transparent;
            border: 2px solid transparent;
            border-radius: 5px;
            &:focus, &:hover {
                outline: none;
                border: 2px solid #2a60e4;
            }
            &:focus + .icon {
                opacity: 1;
            }

        }
        textarea {
            height: 100px!important;
            font-weight: 400;
            font-size: 14px;
            margin-top: 5px;
            padding: 5px;
        }
    }
    .side-col {
        flex: 1;
        padding-left: 60px;
        .side-title {
            text-transform: uppercase;
            font-size: 14px;
            color: #0d0c22;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .side-content {
            margin-bottom: 30px;
        }
        .side-btn {
            background-color: rgba(9, 30, 66, 0.54);
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
            select {
                background: transparent;
                border: none;
                width: 100%;
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                cursor: pointer;
                &:focus {
                    outline: none;
                    border: none;
                }
                option {
                    color: #0d0c22;
                }
            }
        }
        .copy-delete {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .copy-url {
               .copy {
                    svg {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
                .copy.copied {
                    background-color: #2a60e4;
                }
                input {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
            }
            .delete-issue {
                font-size: 25px;
                color: #da0000;
                transition: all .3s ease-in-out;
                padding: 8px;
                border-radius: 5px;
                background-color: #c7d6f5;
                &:hover {
                    background-color: #2a60e4;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .delete-issue.delete-active {
                background-color: #2a60e4;
                color: #fff;
                cursor: pointer;
            }
            .delete-issues-modal {
                position: absolute;
                right: 6%;
                background: #fff;
                box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                padding: 15px;
            }
        }
        .estimated {
            input {
                border: 1px solid #cccccc;
                background-color: #f5f6f8;
                padding: 8px 10px;
                border-radius: 5px;
                width: 100%;
                max-width: 188px;
                &:focus {
                    border: 2px solid #2a60e4;
                    outline: none;
                }
                &:focus + .icon {
                    opacity: 1;
                }
            }
        }
        .input-wrapper {
            margin-bottom: 25px;
            position: relative;
            .icon {
                position: absolute;
                right: 10px;
                top: 5px;
                font-size: 25px;
                opacity: 0;
                cursor: pointer;
                color: #00bf00;
                transition: all .4s ease-in-out;
            }
            .icon.description {
                top: 25px;
            }
        }
        .time-tracking {
            .side-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icon {
                    font-size: 30px;
                    flex: 1;
                }
                .hours {
                    flex: 3;
                    .meter { 
                        height: 6px; 
                        position: relative;
                        background: #fff;
                        -moz-border-radius: 25px;
                        -webkit-border-radius: 25px;
                        border-radius: 25px;
                        padding: 0;
                        span {
                            display: block;
                            height: 100%;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            background-color:#2a60e4;
                            position: relative;
                            overflow: hidden;
                          }
                    }
                    .logged-estimated {
                        display: flex;
                        justify-content: space-between;
                        span {
                            color: #0d0c22;
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}