.single-issue-wrapper {
    display: flex;
    margin-top: 35px;
    .main-col {
        flex: 3;
        .title, .description textarea {
            font-weight: 400;
            font-size: 24px;
            margin: 0;
            margin-bottom: 25px;
            resize: none;
            width: 100%!important;
            height: 37px!important;
            background-color: transparent;
            border: 2px solid transparent;
            border-radius: 5px;
            &:focus, &:hover {
                outline: none;
                border: 2px solid #2a60e4;
            }
        }
        .description textarea {
            height: 100px!important;
            font-weight: 400;
            font-size: 14px;
            margin-top: 5px;
            padding: 5px;
        }
    }
    .side-col {
        flex: 1;
        padding-left: 60px;
        .side-title {
            text-transform: uppercase;
            font-size: 14px;
            color: #0d0c22;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .side-content {
            margin-bottom: 30px;
        }
        .side-btn {
            background-color: rgba(9, 30, 66, 0.54);
            max-width: 150px;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
        }
        .copy-delete {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .copy-url {
               .copy {
                    svg {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
                .copy.copied {
                    background-color: #2a60e4;
                }
                input {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
            }
            .delete-issue {
                font-size: 25px;
                color: #da0000;
                transition: all .3s ease-in-out;
                padding: 8px;
                border-radius: 5px;
                background-color: #c7d6f5;
                &:hover {
                    background-color: #2a60e4;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .delete-issue.delete-active {
                background-color: #2a60e4;
                color: #fff;
                cursor: pointer;
            }
            .delete-issues-modal {
                position: absolute;
                right: 6%;
                background: #fff;
                box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                padding: 15px;
            }
        }
        .status {
            
        }
    }
}