.single-issue-wrapper {
    display: flex;
    margin-top: 35px;
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: #00bfa62e;
        margin: 5px 0;
    }
    ::-webkit-scrollbar-thumb {
        background: #00BFA6;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    .main-col {
        flex: 3;
        .input-wrapper {
            margin-bottom: 25px;
            position: relative;
            .icon {
                display: none;
            }
        }
        input, textarea {
            font-weight: 400;
            font-size: 24px;
            margin: 0;
            resize: none;
            width: 100%!important;
            height: 37px!important;
            background-color: transparent;
            border: 2px solid transparent;
            border-radius: 5px;
            &:focus, &:hover {
                outline: none;
                border: 2px solid #2a60e4;
            }

        }
        textarea {
            height: 100px!important;
            font-weight: 400;
            font-size: 14px;
            margin-top: 5px;
            padding: 5px;
        }
        /*comments*/
        .comments-wrapper {
            border-top: 2px solid #eceaea;
            max-height: 100vh;
            overflow-y: scroll;
            padding-right: 40px;
            h4 {
                font-size: 16px;
                text-transform: uppercase;
            }
            .add-comment-input {
                margin-bottom: 30px;
                textarea {
                    height: 30px!important;
                    &:focus, &:hover {
                        border-color: #00BFA6;
                    }
                    &::placeholder {
                        color: #0d0c22;
                    }
                }
            }
            .single-comment {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                margin: 10px 0;
                border-radius: 5px;
                .author {
                    display: flex;
                    h5 {
                        margin: 0;
                        color: rgb(66, 82, 110);
                    }
                    span {
                        margin-left: 10px;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                .right {
                    display: flex;
                    flex-direction: column;
                    svg {
                        font-size: 16px;
                        margin: 5px 0;
                        cursor: pointer;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                    }
                    svg.delete {
                        &:hover {
                            color: #da0000;
                        }
                    }
                    svg.edit {
                       &:hover {
                        color: #2a60e4;
                       }
                    }
                }
                &:hover {
                    background-color: #00bfa61a;
                    .right {
                        svg {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .side-col {
        flex: 1;
        padding-left: 60px;
        .image-wrapper {
            display: flex;
            margin-bottom: 20px;
            border-bottom: 2px solid #eceaea;
            img {
                max-width: 50px;
            }
            h5 {
                font-weight: 400;
                font-size: 16px;
                margin-left: 10px;
            }
        }
        .side-title {
            text-transform: uppercase;
            font-size: 14px;
            color: #0d0c22;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .side-content {
            margin-bottom: 30px;
        }
        .side-btn {
            background-color: rgba(9, 30, 66, 0.54);
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
            select {
                background: transparent;
                border: none;
                width: 100%;
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                cursor: pointer;
                &:focus {
                    outline: none;
                    border: none;
                }
                option {
                    color: #0d0c22;
                }
            }
            .icon {
                display: none;
            }
        }
        .copy-delete {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .copy-url {
               .copy {
                    svg {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
                .copy.copied {
                    background-color: #2a60e4;
                }
                input {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
            }
            .delete-issue {
                font-size: 25px;
                color: #da0000;
                transition: all .3s ease-in-out;
                padding: 8px;
                border-radius: 5px;
                background-color: #c7d6f5;
                &:hover {
                    background-color: #2a60e4;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .delete-issue.delete-active {
                background-color: #2a60e4;
                color: #fff;
                cursor: pointer;
            }
            .delete-issues-modal {
                position: absolute;
                right: 6%;
                background: #fff;
                box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                padding: 15px;
            }
        }
        .estimated {
            input {
                border: 1px solid #cccccc;
                background-color: #f5f6f8;
                padding: 8px 10px;
                border-radius: 5px;
                width: 100%;
                max-width: 188px;
                &:focus {
                    border: 2px solid #2a60e4;
                    outline: none;
                }
            }
        }
        .input-wrapper {
            margin-bottom: 25px;
            position: relative;
            .icon {
                display: none;
            }
        }
        .log-time-modal {
            position: absolute;
            right: 20%;
            background: #fff;
            box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 10px 30px;
            z-index: 2;
            .title {
                h3 {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        font-size: 28px;
                        margin-right: 5px;
                    }
                }
            }
            .content {
                padding: 10px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input {
                    border: 1px solid #cccccc;
                    background-color: #f5f6f8;
                    padding: 8px 10px;
                    border-radius: 5px;
                    &:focus {
                        border: 2px solid #2a60e4;
                        outline: none;
                    }
                }
                .icon {
                    display: none;
                }
                .buttons.center {
                    .delete.primary-btn {
                        padding: 7px 15px;
                    }
                }
            }
        }
        .time-tracking {
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            .side-title {
                margin-top: 0;
            }
            .side-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                .icon {
                    flex: 1;
                    font-size: 28px;
                }
                .hours {
                    flex: 4;
                    .meter { 
                        height: 6px; 
                        position: relative;
                        background: #fff;
                        -moz-border-radius: 25px;
                        -webkit-border-radius: 25px;
                        border-radius: 25px;
                        padding: 0;
                        z-index: 1;
                        span {
                            display: block;
                            height: 100%;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            background-color:#2a60e4;
                            position: relative;
                            overflow: hidden;
                        }
                        span.done {
                            background-color: #da0000;
                            width: 100%!important;
                        }
                    }
                    .logged-estimated {
                        display: flex;
                        justify-content: space-between;
                        span {
                            color: #0d0c22;
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            &:hover {
                background-color: #d3e2ff;
            }
        }
        .time-tracking.active-log {
            background-color: #d3e2ff;
        }
    }
}