.add-issue {
    padding: 30px 10%;
    .add-issue-form {
        form {
            display: flex;
            flex-direction: column;
            label {
                color: #0d0c22;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 800;
                margin-bottom: 8px;
            }
            input, textarea {
                border: 1px solid hsl(0,0%,80%);
                padding: 8px;
                margin-bottom: 20px;
                border-radius: 4px;
                background-color: #fff;
                &:focus {
                    outline: none;
                    background-color: #e2e8f5;
                    border: 1px solid #2a60e4;
                }
            }
            select {
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 36px;
                padding: 0 10px;
                margin-bottom: 20px;
                &:focus {
                    outline: none;
                    background-color: #e2e8f5;
                    border: 1px solid #2a60e4;
                }
            }
            textarea {
                resize: none;
                min-height: 100px;
            }
            .project-results {
                background-color: #fff;
                padding: 10px 0;
                border-radius: 4px;
                margin-top: -10px;
                margin-bottom: 30px;
                .single-project {
                    padding: 5px 10px;
                    &:hover {
                        background-color: #f5f6f8;
                        cursor: pointer;
                    }
                }
            } 
        }
    }
}