.header {
    background-color: #fff;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .header-wrapper {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        .header-left {
            display: flex;
            align-items: center;
            .arrow {
                background-color: #edecf1;
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 10px;
            }
            .avatar-wrapper {
                display: flex;
                align-items: center;
                margin-left: 15px;
                .avatar {
                    font-size: 30px;
                    margin-right: 10px;
                }
                .name, .status {
                    margin: 0;
                }
                .name {
                    font-size: 16px;
                }
                .status {
                    font-size: 13px;
                    color: #505050;
                }
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            justify-content: center;
            .me {
                display: flex;
                border: 1px solid #0d0c22;
                border-radius: 5px;
                transition: all .3s ease-in-out;
                line-height: 21px;
                &:hover {
                    cursor: pointer;
                    .left {
                        background-color: #0d0c22;
                        color: #fff;
                    }
                    .right {
                        color: #0d0c22;
                        background-color: #fff;
                    }
                }
                .left {
                    color: #0d0c22;
                    padding: 5px 15px;
                    border-radius: 4px 0 0 4px;
                }
                .right {
                    background-color: #0d0c22;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 0 4px 4px 0;
                }
            }
            .add-task {
                background-color: #2a60e4;
                color: #fff;
                padding: 6px 15px;
                border-radius: 5px;
                margin-left: 20px;
                svg {
                    font-size: 22px;
                    transition: all .3s ease-in-out;
                }
                &:hover {
                    cursor: pointer;
                    svg {
                        transform: rotate(90deg);
                    }
                }
            }
            .settings {
                border: 1px solid #0d0c22;
                margin-left: 20px;
                padding: 5px 10px;
                border-radius: 5px;
                svg {
                    font-size: 22px;
                    transition: all .3s ease-in-out;
                }
                &:hover {
                    cursor: pointer;
                    svg {
                        transform: rotate(90deg);
                    }
                }
            }
            .settings-menu {
                background-color: #fff;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 20px;
                top: 85px;
                box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                a {
                    color: #0d0c22;
                    padding: 3px 15px;
                    &:hover {
                        background-color: #2a60e4;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}