
.main {
    background-color: #fff;
    display: flex;
    .side {
        display: flex;
        flex: 1;
        .side-menu {
            border-right: 2px solid #f7f8fa;
            width: 5vw;
            .menu-wrapper {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    .logo {
                        margin-bottom: 25px;
                        font-size: 30px;
                        a {
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                    li {
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 10px 0;
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 4px;
                            border-radius: 5px;
                            transition: all .3s ease-in-out;
                            &:hover {
                                cursor: pointer;
                                background-color: #2a60e4;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        flex: 4;
        padding: 20px;
    }
}