.main {
	background: linear-gradient(
		90deg,
		rgba(247, 254, 255, 1) 0%,
		rgba(241, 247, 252, 1) 90%
	);
	display: flex;
	height: 100%;
	.side {
		display: flex;
		flex: 1;
		background-color: #fff;
		border-right: 2px solid #f7f8fa;
		.side-menu {
			background-color: rgb(7, 71, 166);
			color: #fff;
			width: 5vw;
			transition: all 0.1s ease-in-out;
			position: absolute;
			height: 100vh;
			top: 0;
			left: 0;
			-webkit-box-shadow: 9px 0px 11px -4px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 9px 0px 11px -4px rgba(0, 0, 0, 0.15);
			box-shadow: 9px 0px 11px -4px rgba(0, 0, 0, 0.15);
			z-index: 10;
			.menu-wrapper {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					text-align: center;
					.logo {
						margin-bottom: 25px;
						font-size: 30px;
						a {
							&:hover {
								background-color: transparent;
							}
						}
					}
					li {
						font-size: 18px;
						display: flex;
						align-items: center;
						margin: 5px 0;
						a {
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 8px 20px;
							width: 100%;
							color: #fff;
							transition: 0.2s ease-in-out;
							span {
								font-size: 14px;
								opacity: 0;
								text-transform: uppercase;
								width: 0;
								transition: all 0.1s ease-in;
								color: #fff;
								margin-left: 10px;
							}
							&:hover {
								cursor: pointer;
								background-color: #2a60e4;
								color: #fff;
							}
						}
					}
				}
			}
			&:hover {
				width: 13vw;
				.menu-wrapper {
					ul {
						li {
							a {
								span {
									opacity: 1;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
	.content {
		flex: 4;
		padding: 20px;
		height: 100%;
	}
}
