.login-page {
    max-width: 600px;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
    padding: 60px 30px;
    border-radius: 5px;
    text-align: center;
    margin: 10% auto;
    position: relative;
    .demo-account-btn {
        background: #2a60e4;
        color: #fff;
        border: none;
        padding: 6px 10px;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    h1 {
        margin: 0;
        font-size: 50px;
    }
    .login-form-wrapper {
        margin-top: 30px;
        form {
            display: flex;
            flex-direction: column;
            input {
                border: 1px solid #0d0c22;
                padding: 12px;
                margin-bottom: 30px;
                border-radius: 2px;
                background-color: #f5f6f8;
                &:focus {
                    outline: none;
                    background-color: #e2e8f5;
                    border: 1px solid #2a60e4;
                }
            }
            .login-pass {
                display: flex;
                align-items: center;
                position: relative;
                input {
                    width: 100%;
                }
                .pass-icon {
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    font-size: 22px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            button {
                .icon {
                    padding: 3px;
                }
            }
        }
    }
}