.sidebar {
	width: 15vw;
	padding: 25px 20px;
	margin-left: 5vw;
	.account {
		background-color: #f5f6f8;
		border-radius: 5px;
		.account-wrapper {
			padding: 10px;
			.avatar {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.info {
					svg {
						font-size: 25px;
					}
					p {
						margin: 0;
						color: #27334d;
						font-weight: 600;
						margin-left: 10px;
					}
				}
				svg {
					color: #27334d;
				}
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	.account.dropdown-active {
		background-color: #0d0c22;
		.account-wrapper {
			.avatar {
				.info {
					p {
						color: #fff;
					}
				}
				svg {
					color: #fff;
				}
			}
		}
	}
	.account-dropdown {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		margin-top: 5px;
		a {
			color: #0d0c22;
			padding: 3px 15px;
			text-align: center;
			&:hover {
				background-color: #2a60e4;
				color: #fff;
				cursor: pointer;
			}
		}
	}
	.sidebar-item {
		display: flex;
		align-items: center;
		color: #27334d;
		margin-top: 20px;
		padding: 10px;
		border-radius: 5px;
		transition: all 0.3s ease-in-out;
		border: 1px solid #f5f6f8;
		div {
			width: 100%;
			display: flex;
			align-items: center;
		}
		span {
			margin-left: 10px;
			font-weight: 600;
		}
		&:hover {
			cursor: pointer;
			background-color: #f5f6f8;
		}
	}
	.sidebar-item.dropdown-active {
		background-color: #f5f6f8;
	}
	.search-dropdown {
		margin-top: 10px;
		input {
			border: none;
			border-bottom: 2px solid #0d0c22;
			padding: 10px;

			&:focus {
				outline: none;
			}
		}
	}
	.projects {
		position: relative;
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 10px;
			border-radius: 5px;
			transition: all .3s ease-in-out;
			margin: 3px 0;
			p {
				color: #0d0c22;
				font-weight: bold;
				font-size: 14px;
				margin: 0;
			}
			svg {
				color: #0d0c22;
			}
			.count {
				position: absolute;
				right: 3px;
				top: 5px;
				background-color: #2a60e4;
				color: #fff;
				border-radius: 50%;
				padding: 1px;
				height: 15px;
				font-size: 12px;
				width: 15px;
			}
			&:hover {
				background: #f5f6f8;
			}
		}
	}
}
