.board-columns {
	display: flex;
	justify-content: space-around;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 0;
	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	::-webkit-scrollbar-thumb {
		background: #0d0c22;
		border-radius: 5px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	.board-single-column {
		flex: 1;
		height: 100%;
		background-color: #f2f1f8;
		border-radius: 2px;
		h2 {
			text-align: center;
			text-transform: uppercase;
			color: #27334d;
		}
		.column-tasks-wrapper {
			border-radius: 2px;
			margin-bottom: 15px;
			max-height: 60vh;
			overflow-y: scroll;
			.task-card {
				background-color: #fff;
				margin: 10px 0;
				cursor: grab;
				padding: 10px 20px;
				color: #27334d;
				box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
				border-radius: 6px;
				max-width: 220px;
				.status {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 8px;
					.progress,
					.priority {
						padding: 1px 7px;
						border-radius: 5px;
						span {
							font-size: 11px;
							text-transform: uppercase;
							font-weight: bold;
						}
					}
					.requested {
						background-color: #a7a9ae1c;
						font-size: 10px;
						span {
							color: #929294;
						}
					}
					.todo {
						background-color: #2a60e447;
						span {
							color: #2a60e4;
						}
					}
					.inprogress {
						background-color: #f5005726;
						span {
							color: #f50057;
						}
					}
					.done {
						background-color: #00bfa62e;
						span {
							color: #00bfa6;
						}
					}
					.Low {
						background-color: #00b0ff26;
						span {
							color: #00b0ff;
						}
					}
					.Medium {
						background-color: #f9a8261f;
						span {
							color: #f0990d;
						}
					}
					.High {
						background-color: #6c63ff24;
						span {
							color: #6c63ff;
						}
					}
				}
				.image {
					text-align: center;
					img {
						max-width: 100px;
						width: 100%;
					}
				}
				h5,
				p {
					text-align: left;
					color: #0d0c22;
					margin-top: 5px;
					margin-bottom: 0;
					text-transform: capitalize;
					font-size: 14px;
				}
				p {
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-transform: none;
				}
				&:hover {
					background-color: #f5f6f8 !important;
				}
			}
			.add-task-btn {
				background-color: #2a60e459;
				color: #0d0c22;
				padding: 7px 15px;
				border-radius: 5px;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 14px;
				margin-top: 15px;
				transition: all 0.3s ease-in-out;
				.icon {
					background-color: #2a60e4;
					color: #fff;
					font-size: 16px;
					display: flex;
					border-radius: 50%;
					margin-right: 5px;
					padding: 2px;
					transition: all 0.3s ease-in-out;
				}
				&:hover {
					background-color: #2a60e4;
					color: #fff;
					.icon {
						background-color: #fff;
						color: #0d0c22;
					}
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.board-columns {
		margin-left: 40px;
		flex-direction: column;
		.board-single-column {
			margin-top: 25px;
			.column-tasks-wrapper {
				min-height: auto!important;
			}
		}
	}
}