.board-columns {
	display: flex;
	justify-content: space-around;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 70px;
	.board-single-column {
		flex: 1;
		height: 100%;
		background-color: #f2f1f8;
		padding: 20px;
		width: 13vw;
		border-radius: 2px;
		h3 {
			text-align: center;
			text-transform: uppercase;
			color: #27334d;
		}
		.column-tasks-wrapper {
			border-radius: 2px;
			margin-bottom: 15px;
			.task-card {
				background-color: #fff;
				margin: 10px 0;
				cursor: grab;
				padding: 10px 20px;
				color: #27334d;
				box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
				border-radius: 6px;
				&:hover {
					background-color: #f5f6f8 !important;
				}
			}
		}
	}
}
